<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="ROLLING_FILE_APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>discovery-test-platform.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">        
        <!-- daily rollover -->
        <fileNamePattern>discovery-test-platform.%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>5</maxHistory>
    </rollingPolicy>
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="ROLLING_FILE_APPENDER" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>